html {
    font: normal 16px Arial;
    background-image: linear-gradient(rgb(18, 18, 124), rgb(223, 120, 60), white);
}

@media (max-aspect-ratio:12/16) {
    html {
        font-size: 35px;
    }
}

body {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    min-height: 568px;
    min-width: 469px;
    background-color: bisque
}

header {
    flex: 3 auto;
    display: flex;
    flex-flow: column;
    /* min-height: 14rem; */
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 20, 58);
    padding: 20px 10px;
    box-sizing: border-box;
    min-width: 620px;
}

/* header div{
    flex: 1;
    display: flex;
    flex-flow: column;
    height: 15rem;
    
} */

h1 {
    /* flex: 1; */
    font: normal bold 4em arial;
    text-align: center;
    color: blanchedalmond;
    /* height: 3rem; */
}

h2 {
    text-align: center;
    color: rgb(201, 136, 39);
    font-size: 2em;
    font-style: italic;
}

nav {
    flex: 1 auto;
    min-width: 620px;
    display: flex;
    background-color: rgb(255, 122, 28);
    /* align-items: center; */
    /* justify-content:center; */
    /* min-height: 2.5rem; */
    font-size: 1.2rem;
    /* max-height: 2.5em; */
    padding: 0.15rem 0;
}

.navlist {
    display: flex;
    flex: 1 100%;
    align-items: center;
    justify-content: space-evenly;
}

.navlist li {
    flex: 1 auto;
    text-align: center;
}

article {
    flex: 12 auto;
    /* background-image: url(../images/20170629154925-1.jpg); */
    background-size: contain;
    /* min-height: 20rem; */
    color:rgb(4, 45, 51);
    padding: 20px;
}