html{
    font:normal 16px Arial;
    background-image: linear-gradient(rgb(96, 15, 247), rgb(223, 119, 60));
}
@media (max-width:500px) {
    body {
        font-size: 25px;
    }
}

body{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
    min-height: 568px;
    min-width: 469px;
}
header{
    flex: 2 100%;
    display: flex;
    flex-flow: row wrap;
    /* height: ; */
}
header div{
    flex: 1 100%;
    display: flex;
    flex-flow: column wrap;
    background-color: rgb(12, 20, 58);
    /* height: 15rem; */
    align-items: center;
    justify-content: center;
    
}

h1,h2{
    flex: 3 0 0;
    font: normal bold 4em arial;
    text-align: center;
    color:blanchedalmond;
    /* height: 3rem; */
}
h2{
    font-size: 2.1em;
}

nav{
    flex: 1 100%;
    display: flex;
    background-color: rgb(255, 122, 28);
    align-items: center;
    justify-content:space-between;
    padding: 0.5em 0;
}

.navlist {
    display: flex;
    flex: 1 100%;
    justify-content:space-between;
}
.navlist li{
    flex: 1;
    text-align: center;
}
article{
    flex:3 100%;
    background-image: url(../images/20170629154925-1.jpg);
    background-size: contain;
    min-height: 21em;
}