html{
    font:normal 16px Arial;
    background-image: linear-gradient(rgb(96, 15, 247), rgb(223, 119, 60));
}
@media (max-width:500px) {
    html {
        font-size: 25px;
    }
}

body{
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    min-height: 568px;
    min-width: 469px;
}
header{
    flex: 5 auto;
    display: flex;
    flex-flow: column;
    min-height: 14rem ;
}
header div{
    flex: 1;
    display: flex;
    flex-flow: column;
    background-color: rgb(12, 20, 58);
    /* height: 15rem; */
    align-items: center;
    justify-content: center;
    
}

h1,h2{
    /* flex: 1; */
    font: normal bold 4em arial;
    text-align: center;
    color:blanchedalmond;
    /* height: 3rem; */
}
h2{
    font-size: 2.1em;
}

nav{
    flex: 1;
    display: flex;
    background-color: rgb(255, 122, 28);
    /* align-items: center; */
    /* justify-content:center; */
    min-height: 2.5rem;
    font-size: 1.2rem
    /* max-height: 2.5em; */
}

.navlist {
    display: flex;
    flex: 1 100%;
    align-items: center;
    justify-content:space-evenly;
}
.navlist li{
    flex: 1 auto;
    text-align: center;
}
article{
    flex:12;
    background-image: url(../images/20170629154925-1.jpg);
    background-size: contain;
    min-height: 25rem;
}